name: Exercise 2

on: push

jobs:

  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run markdownlint
        uses: nosborn/github-action-markdown-cli@v3.5.0
        with:
          files: .
          config_file: .markdownlint.yaml
          dot: true
          ignore_files: examples/ignore/*
          ignore_path: examples/.markdownlintignore
          rules: examples/rules/custom.js

  build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build application
        run: ci/build-app.sh      

      - name: Run unit tests
        run: ci/unit-test-app.sh

      - name: Check if artifact exists
        id: check_artifact
        run: |
          if [ -d ./artifact_marker ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Upload Artifact
        if: ${{ steps.check_artifact.outputs.exists == 'false' }}
        uses: actions/upload-artifact@v4
        with:
          name: code
          path: .
          include-hidden-files: true

  linting:
    needs: build
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: code
          path: .
      - name: Run Super Linter
        uses: super-linter/super-linter/slim@v7
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DISABLE_ERRORS: true  

  sonarqube:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
