name: Exercise 2

on: push

jobs:

  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.5.0
        with:
            files: .
            config_file: .markdownlint.yaml
  
  Build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - uses: actions/checkout@v4

      - name: Build with gradle
        run: chmod +x ci/build-app.sh && ci/build-app.sh

      - name: Upload build artifact
        uses: actions/upload-artifact@v4

        with:
          name: build
          path: .
  Sonarqube:
    runs-on: ubuntu-latest
    needs: [Build]

    steps:
      - uses: actions/checkout@v4
        with:
        
          fetch-depth: 0
        
      - name: Download build artifact
        uses: actions/Download-artifact@v4

        with:
          name: build
          path: .

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6

        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
  linting:
    needs: Build
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: build
          path: .
      - name: Run Super Linter
        uses: super-linter/super-linter/slim@v7
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DISABLE_ERRORS: true  
